body {
  background-color: #2f3640;
}

.App {
  background-color: #2f3640;
  padding: 5%;
  margin: auto;
}

.enter-form {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

input,
select {
  width: 25%;
}
button {
  color: #fff;
  background-color: #487eb0;
  border: #fff 1px solid;
  border-radius: 5px;
  padding: 5px;
}

h1,
h2,
h5,
li {
  color: #fff;
}

.code-block {
  color: #fff;
  background-color: #487eb0;
  border: #fff 1px solid;
  border-radius: 5px;
  width: 25%;
  min-width: 200px;
  padding: 5px;
  margin: 1rem;
  font-weight: bold;
}

.code-block-add-btn {
  color: #fff;
  background-color: #10ac84;
  border: #fff 1px solid;
  border-radius: 5px;
  width: 25%;
  min-width: 200px;
  padding: 5px;
  margin: 1rem;
  font-weight: bold;
}

.code-block-add-btn:hover {
  background-color: #1dd1a1;
  color: #222f3e;
}

button:hover,
li:hover {
  background-color: #273c75;
  cursor: pointer;
}

.code-block-names {
  border: 0px;
  background-color: #1e272e;
  border-radius: 10px;
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  align-content: center;
  justify-items: center;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 20vw;
  padding: 5px;
  margin-bottom: 10px;
}
