.add-code-block-container {
  color: #fff;
  width: 60%;
}

.add-code-block-form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.add-code-block-form > button {
  width: 150px;
}
